<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="45062.File2Code" Publisher="CN=698D1544-4CAD-4361-AD12-34C4C1402A8E" Version="1.1.7.0" />
  <mp:PhoneIdentity PhoneProductId="bd98fc8a-70ab-4730-b2f4-93491e18d5c5" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>File2Code</DisplayName>
    <PublisherDisplayName>LIGA</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="File2Code.App">
      <uap:VisualElements DisplayName="File2Code" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="受微软Shader编译器的启发，且我所需，特开发此工具软件用于将各种文件数据转换成代码(类C风格byte[])的形式，主要是方便解决资源文件不好与软件打包之类的问题，也能一定程度制止盗取资源~" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <uap:Capability Name="removableStorage" />
  </Capabilities>
</Package>